--
-- PostgreSQL database dump
--

\restrict 30dU00s7tbkP8g3INxVUTV2l3m9M1ef2h1uuN4Pa7dWlpGKRqKTtRUd8uaiQQ9K

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: docmanagement
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO docmanagement;

--
-- Name: document_design_pages; Type: TABLE; Schema: public; Owner: docmanagement
--

CREATE TABLE public.document_design_pages (
    id uuid NOT NULL,
    design_id uuid NOT NULL,
    block_type character varying NOT NULL,
    content_id uuid NOT NULL,
    "position" integer NOT NULL,
    title character varying,
    notes character varying,
    config json NOT NULL,
    snapshot json NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_design_page_block_type CHECK (((block_type)::text = ANY ((ARRAY['html_template'::character varying, 'static_pdf'::character varying])::text[])))
);


ALTER TABLE public.document_design_pages OWNER TO docmanagement;

--
-- Name: document_designs; Type: TABLE; Schema: public; Owner: docmanagement
--

CREATE TABLE public.document_designs (
    id uuid NOT NULL,
    document_type_id uuid NOT NULL,
    name character varying NOT NULL,
    description character varying,
    status character varying NOT NULL,
    created_by_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    version_group_id uuid,
    version_number integer,
    mock_data json,
    CONSTRAINT ck_document_design_status CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'active'::character varying, 'superseded'::character varying])::text[])))
);


ALTER TABLE public.document_designs OWNER TO docmanagement;

--
-- Name: document_issuances; Type: TABLE; Schema: public; Owner: docmanagement
--

CREATE TABLE public.document_issuances (
    id uuid NOT NULL,
    design_version_id uuid NOT NULL,
    storage_key character varying NOT NULL,
    user_id uuid NOT NULL,
    input_data json NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    status character varying NOT NULL,
    metadata_values json,
    CONSTRAINT ck_document_issuance_status CHECK (((status)::text = ANY ((ARRAY['success'::character varying, 'failure'::character varying])::text[])))
);


ALTER TABLE public.document_issuances OWNER TO docmanagement;

--
-- Name: document_tracelogs; Type: TABLE; Schema: public; Owner: docmanagement
--

CREATE TABLE public.document_tracelogs (
    id uuid NOT NULL,
    issuance_id uuid NOT NULL,
    user_id uuid,
    event_type character varying NOT NULL,
    metadata json NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_document_tracelog_event_type CHECK (((event_type)::text = ANY ((ARRAY['generation'::character varying, 'download'::character varying, 'share'::character varying])::text[])))
);


ALTER TABLE public.document_tracelogs OWNER TO docmanagement;

--
-- Name: document_type_fields; Type: TABLE; Schema: public; Owner: docmanagement
--

CREATE TABLE public.document_type_fields (
    id uuid NOT NULL,
    document_type_id uuid NOT NULL,
    name character varying NOT NULL,
    type character varying NOT NULL,
    description character varying,
    "position" integer NOT NULL,
    CONSTRAINT ck_document_type_field_type CHECK (((type)::text = ANY ((ARRAY['string'::character varying, 'number'::character varying, 'date'::character varying, 'boolean'::character varying])::text[])))
);


ALTER TABLE public.document_type_fields OWNER TO docmanagement;

--
-- Name: document_type_metadata_definitions; Type: TABLE; Schema: public; Owner: docmanagement
--

CREATE TABLE public.document_type_metadata_definitions (
    id uuid NOT NULL,
    document_type_id uuid NOT NULL,
    name character varying NOT NULL,
    type character varying NOT NULL,
    required boolean DEFAULT true NOT NULL,
    CONSTRAINT ck_document_type_metadata_type CHECK (((type)::text = ANY ((ARRAY['text'::character varying, 'number'::character varying, 'date'::character varying, 'datetime'::character varying, 'boolean'::character varying])::text[])))
);


ALTER TABLE public.document_type_metadata_definitions OWNER TO docmanagement;

--
-- Name: document_types; Type: TABLE; Schema: public; Owner: docmanagement
--

CREATE TABLE public.document_types (
    id uuid NOT NULL,
    name character varying NOT NULL,
    description character varying,
    created_by_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.document_types OWNER TO docmanagement;

--
-- Name: html_templates; Type: TABLE; Schema: public; Owner: docmanagement
--

CREATE TABLE public.html_templates (
    id uuid NOT NULL,
    document_type_id uuid NOT NULL,
    name character varying NOT NULL,
    html text NOT NULL,
    token_names json NOT NULL,
    created_by_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    mock_data json,
    css text DEFAULT ''::text
);


ALTER TABLE public.html_templates OWNER TO docmanagement;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: docmanagement
--

CREATE TABLE public.sessions (
    id character varying NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    expires_at timestamp without time zone NOT NULL
);


ALTER TABLE public.sessions OWNER TO docmanagement;

--
-- Name: static_pdf_assets; Type: TABLE; Schema: public; Owner: docmanagement
--

CREATE TABLE public.static_pdf_assets (
    id uuid NOT NULL,
    original_filename character varying NOT NULL,
    stored_filename character varying NOT NULL,
    storage_key character varying NOT NULL,
    page_count integer NOT NULL,
    page_start integer,
    page_end integer,
    file_size integer NOT NULL,
    created_by_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    document_type_id uuid
);


ALTER TABLE public.static_pdf_assets OWNER TO docmanagement;

--
-- Name: users; Type: TABLE; Schema: public; Owner: docmanagement
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    sub character varying NOT NULL,
    email character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO docmanagement;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: docmanagement
--

COPY public.alembic_version (version_num) FROM stdin;
0012
\.


--
-- Data for Name: document_design_pages; Type: TABLE DATA; Schema: public; Owner: docmanagement
--



--
-- Data for Name: document_designs; Type: TABLE DATA; Schema: public; Owner: docmanagement
--



--
-- Data for Name: document_issuances; Type: TABLE DATA; Schema: public; Owner: docmanagement
--

COPY public.document_issuances (id, design_version_id, storage_key, user_id, input_data, created_at, status, metadata_values) FROM stdin;
\.


--
-- Data for Name: document_tracelogs; Type: TABLE DATA; Schema: public; Owner: docmanagement
--

COPY public.document_tracelogs (id, issuance_id, user_id, event_type, metadata, created_at) FROM stdin;
\.


--
-- Data for Name: document_type_fields; Type: TABLE DATA; Schema: public; Owner: docmanagement
--



--
-- Data for Name: document_type_metadata_definitions; Type: TABLE DATA; Schema: public; Owner: docmanagement
--

COPY public.document_type_metadata_definitions (id, document_type_id, name, type, required) FROM stdin;
20f87e5d-3953-449f-b1c8-fd49e341a185	e3dd0652-7e94-4366-91d1-9a5227a6b7bd	cliente	text	t
c21eaf1d-df04-43ad-a2c1-7310b73387d9	e3dd0652-7e94-4366-91d1-9a5227a6b7bd	contrato	number	t
fbd4ec69-0b08-466d-9dab-32dd640b1963	e3dd0652-7e94-4366-91d1-9a5227a6b7bd	motor	text	t
8591b996-54ca-421a-a1bb-7c9906588714	e3dd0652-7e94-4366-91d1-9a5227a6b7bd	placa	text	f
\.


--
-- Data for Name: document_types; Type: TABLE DATA; Schema: public; Owner: docmanagement
--

COPY public.document_types (id, name, description, created_by_id, created_at) FROM stdin;
e3dd0652-7e94-4366-91d1-9a5227a6b7bd	Constancia de Servicio	\N	63ee0bde-ac62-45d0-a36b-ed9709d6515b	2026-07-12 18:27:19.094183
\.


--
-- Data for Name: html_templates; Type: TABLE DATA; Schema: public; Owner: docmanagement
--



--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: docmanagement
--

COPY public.sessions (id, user_id, created_at, expires_at) FROM stdin;
\.


--
-- Data for Name: static_pdf_assets; Type: TABLE DATA; Schema: public; Owner: docmanagement
--

COPY public.static_pdf_assets (id, original_filename, stored_filename, storage_key, page_count, page_start, page_end, file_size, created_by_id, created_at, document_type_id) FROM stdin;
bacabcf4-d596-4829-9f64-3cea9df1fb0d	Programa_Asistencia_Vial_COMSATEL.pdf	bacabcf4-d596-4829-9f64-3cea9df1fb0d.pdf	bacabcf4-d596-4829-9f64-3cea9df1fb0d.pdf	5	\N	\N	338919	63ee0bde-ac62-45d0-a36b-ed9709d6515b	2026-07-12 18:26:50.04569	\N
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: docmanagement
--

COPY public.users (id, sub, email, created_at) FROM stdin;
63ee0bde-ac62-45d0-a36b-ed9709d6515b	db357a4d-475f-4089-8707-b919a030c403	alice@example.com	2026-07-12 18:23:36.768482
\.


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: document_design_pages document_design_pages_pkey; Type: CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.document_design_pages
    ADD CONSTRAINT document_design_pages_pkey PRIMARY KEY (id);


--
-- Name: document_designs document_designs_pkey; Type: CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.document_designs
    ADD CONSTRAINT document_designs_pkey PRIMARY KEY (id);


--
-- Name: document_issuances document_issuances_pkey; Type: CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.document_issuances
    ADD CONSTRAINT document_issuances_pkey PRIMARY KEY (id);


--
-- Name: document_tracelogs document_tracelogs_pkey; Type: CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.document_tracelogs
    ADD CONSTRAINT document_tracelogs_pkey PRIMARY KEY (id);


--
-- Name: document_type_fields document_type_fields_pkey; Type: CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.document_type_fields
    ADD CONSTRAINT document_type_fields_pkey PRIMARY KEY (id);


--
-- Name: document_type_metadata_definitions document_type_metadata_definitions_pkey; Type: CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.document_type_metadata_definitions
    ADD CONSTRAINT document_type_metadata_definitions_pkey PRIMARY KEY (id);


--
-- Name: document_types document_types_pkey; Type: CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.document_types
    ADD CONSTRAINT document_types_pkey PRIMARY KEY (id);


--
-- Name: html_templates html_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.html_templates
    ADD CONSTRAINT html_templates_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: static_pdf_assets static_pdf_assets_pkey; Type: CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.static_pdf_assets
    ADD CONSTRAINT static_pdf_assets_pkey PRIMARY KEY (id);


--
-- Name: document_type_fields uq_document_type_field_name; Type: CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.document_type_fields
    ADD CONSTRAINT uq_document_type_field_name UNIQUE (document_type_id, name);


--
-- Name: document_type_metadata_definitions uq_document_type_metadata_name; Type: CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.document_type_metadata_definitions
    ADD CONSTRAINT uq_document_type_metadata_name UNIQUE (document_type_id, name);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_document_tracelogs_issuance_id; Type: INDEX; Schema: public; Owner: docmanagement
--

CREATE INDEX ix_document_tracelogs_issuance_id ON public.document_tracelogs USING btree (issuance_id);


--
-- Name: ix_document_tracelogs_user_id; Type: INDEX; Schema: public; Owner: docmanagement
--

CREATE INDEX ix_document_tracelogs_user_id ON public.document_tracelogs USING btree (user_id);


--
-- Name: ix_document_types_name; Type: INDEX; Schema: public; Owner: docmanagement
--

CREATE INDEX ix_document_types_name ON public.document_types USING btree (name);


--
-- Name: ix_html_templates_name; Type: INDEX; Schema: public; Owner: docmanagement
--

CREATE INDEX ix_html_templates_name ON public.html_templates USING btree (name);


--
-- Name: ix_static_pdf_assets_stored_filename; Type: INDEX; Schema: public; Owner: docmanagement
--

CREATE INDEX ix_static_pdf_assets_stored_filename ON public.static_pdf_assets USING btree (stored_filename);


--
-- Name: ix_users_sub; Type: INDEX; Schema: public; Owner: docmanagement
--

CREATE UNIQUE INDEX ix_users_sub ON public.users USING btree (sub);


--
-- Name: uq_document_design_one_active_per_group; Type: INDEX; Schema: public; Owner: docmanagement
--

CREATE UNIQUE INDEX uq_document_design_one_active_per_group ON public.document_designs USING btree (version_group_id) WHERE (((status)::text = 'active'::text) AND (version_group_id IS NOT NULL));


--
-- Name: uq_document_design_one_draft_per_group; Type: INDEX; Schema: public; Owner: docmanagement
--

CREATE UNIQUE INDEX uq_document_design_one_draft_per_group ON public.document_designs USING btree (version_group_id) WHERE (((status)::text = 'draft'::text) AND (version_group_id IS NOT NULL));


--
-- Name: document_design_pages document_design_pages_design_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.document_design_pages
    ADD CONSTRAINT document_design_pages_design_id_fkey FOREIGN KEY (design_id) REFERENCES public.document_designs(id) ON DELETE CASCADE;


--
-- Name: document_designs document_designs_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.document_designs
    ADD CONSTRAINT document_designs_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id);


--
-- Name: document_designs document_designs_document_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.document_designs
    ADD CONSTRAINT document_designs_document_type_id_fkey FOREIGN KEY (document_type_id) REFERENCES public.document_types(id);


--
-- Name: document_issuances document_issuances_design_version_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.document_issuances
    ADD CONSTRAINT document_issuances_design_version_id_fkey FOREIGN KEY (design_version_id) REFERENCES public.document_designs(id) ON DELETE RESTRICT;


--
-- Name: document_issuances document_issuances_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.document_issuances
    ADD CONSTRAINT document_issuances_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: document_tracelogs document_tracelogs_issuance_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.document_tracelogs
    ADD CONSTRAINT document_tracelogs_issuance_id_fkey FOREIGN KEY (issuance_id) REFERENCES public.document_issuances(id) ON DELETE CASCADE;


--
-- Name: document_tracelogs document_tracelogs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.document_tracelogs
    ADD CONSTRAINT document_tracelogs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: document_type_fields document_type_fields_document_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.document_type_fields
    ADD CONSTRAINT document_type_fields_document_type_id_fkey FOREIGN KEY (document_type_id) REFERENCES public.document_types(id) ON DELETE CASCADE;


--
-- Name: document_type_metadata_definitions document_type_metadata_definitions_document_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.document_type_metadata_definitions
    ADD CONSTRAINT document_type_metadata_definitions_document_type_id_fkey FOREIGN KEY (document_type_id) REFERENCES public.document_types(id) ON DELETE CASCADE;


--
-- Name: document_types document_types_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.document_types
    ADD CONSTRAINT document_types_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id);


--
-- Name: static_pdf_assets fk_static_pdf_assets_document_type_id_document_types; Type: FK CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.static_pdf_assets
    ADD CONSTRAINT fk_static_pdf_assets_document_type_id_document_types FOREIGN KEY (document_type_id) REFERENCES public.document_types(id);


--
-- Name: html_templates html_templates_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.html_templates
    ADD CONSTRAINT html_templates_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id);


--
-- Name: html_templates html_templates_document_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.html_templates
    ADD CONSTRAINT html_templates_document_type_id_fkey FOREIGN KEY (document_type_id) REFERENCES public.document_types(id) ON DELETE CASCADE;


--
-- Name: sessions sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: static_pdf_assets static_pdf_assets_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docmanagement
--

ALTER TABLE ONLY public.static_pdf_assets
    ADD CONSTRAINT static_pdf_assets_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 30dU00s7tbkP8g3INxVUTV2l3m9M1ef2h1uuN4Pa7dWlpGKRqKTtRUd8uaiQQ9K

